extends layout

block header
	link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel = "stylesheet")

block content
	.container 
		br
		br
		br
		br
		br
		

		.card-panel
			h5.center-align Virtual Online Judge
			.divider
			br
		
			form.col.s12(action = "/vjudge/problem-submit" method = "POST")
				.card-content
					.row
						.input-field.col.s6
							select(name = "oj")
								option(value = "bnuoj" selected) BNUOJ
								option(value = "" disabled) add more ...
							label OJ
						.input-field.col.s6
							input#problem_id(type = "text" name = "problem_id")
							label(for = "problem_id") Problem Id
					.row
						.input-field.col.s12
							textarea.materialize-textarea#code(type = "text" name = "code" style = "resize: none;" rows= "9")
							label(for = "code") Code

				.card-action
					.row
						.right
							.col.s6.left
								.preloader-wrapper
									.spinner-layer.spinner-blue
										.circle-clipper.left
											.circle
										.gap-patch
											.circle
										.circle-clipper.right
											.circle

									.spinner-layer.spinner-red
										.circle-clipper.left
											.circle
										.gap-patch
											.circle
										.circle-clipper.right
											.circle

									.spinner-layer.spinner-yellow
										.circle-clipper.left
											.circle
										.gap-patch
											.circle
										.circle-clipper.right
											.circle

									.spinner-layer.spinner-green
										.circle-clipper.left
											.circle
										.gap-patch
											.circle
										.circle-clipper.right
											.circle
							.input-field.col.s6
								button.btn.waves-effect.waves-light(type = "submit" name = "submit" onClick = "$('.preloader-wrapper').addClass('active')") Submit
									i.material-icons.right done


block script
	script.
		$(document).ready(function() {
		    $('select').material_select();
		});
					




		