html
	head
		title VOJ - ShinobiOJ

		link( rel = "stylesheet" href = "/bower_components/materialize/dist/css/materialize.min.css")
		script( src = "/bower_components/jquery/dist/jquery.min.js" )
		script( src = "/bower_components/materialize/dist/js/materialize.min.js")

		block header

	body.teal.darken-2
		
		block content

		block script