extends layout

block header
  link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel = "stylesheet")

block content
  .container 
    br
    br
    br
    br
    br
    

    .card
      .card-content

      

        if verdict == "Accepted"
          span.card-title
            p.green-text.text-darken-4 #{verdict}  
            
        else if verdict == "Submitted" || verdict == "Judging"
          span.card-title
            p.orange-text.text-darken-4 #{verdict}
            .progress
              .indeterminate
        else
          span.card-title
            p.red-text.text-darken-4 #{verdict}
            
        
        h5 Problem: #{problem_id}
          
      

        .divider       
        br
        br
        .runId Run ID : #{runId}    
        br

        pre #{code}
