


extends layout

block content
	.container
		.page-header.text-center
			h1
				span.fa.fa-anchor
				= ' '
				|Profile Page
			a.btn.btn-default.btn-sm(href = "/user/logout")
				|Logout

		.row
			.col-sm-6
				.well
					h3
						span.fa.fa-user
						|Local
					
					p
						strong id
						= ' '
						|: #{user.id} 
						br
						strong email
						= ' '
						|: #{user.local.email}
						br
						strong password						
						|: #{user.local.password}
						br
