extends layout

block content
	.container
		.col-sm-6.col-sm-offset-3
			h1
				span.fa.fa-sign-in
				= ' '
				| Signup

			if message.length > 0
				.alert.alert-danger
					span.m #{message}

			
			form(method = "post" action = "/user/signup")
				.form-group
					label Email
					input.form-control(name = "email" type = "text")
				.form-group
					label Password
					input.form-control(name = "password" type = "password")
				
				button.btn.btn-warning.btn-lg(type = "submit") Login

			hr 

			p 
				|Need an account?
				= ' '
				a(href = "/user/signup") Signup
			p 
				|Or go
				= ' '
				a(href = "/") Home
				|.
