extends base

block content
	if message != ''
		.alert.alert-notice
			a.close(data-dismiss="alert", href="javascript:void(0)") x
			| #{message}
	div.row
		div.col-md-9
			div#main
				div.panel.panel-primary.panel-problems
					div.panel-heading(style = "min-height: 65px;")
						h1.panel-title(style = "margin-top: 10px;") Problems
					div.list-group
						each problem in problems
							- var link = 'problems/'+problem.id
							a.list-group-item(href=link)
								div.pull-right
								h4.list-group-item-heading(style = "margin: 5px 0 4px; line-height: 30px;") #{problem.title}
		div.col-md-3
			div#side
