extends base

block content
	.row
		.col-md-9
			#main
				.panel.panel-default.panel-problem
					div.panel-body(style="position: relative")
						h1 #{problem.title}
						p.small
							|Difficulty: #{problem.difficulty}
						br
						br
						.problem-body
							!= problem.body
		.col-md-3
			#side
				.panel.panel-default.panel-resource
					.panel-heading
						| Resources
					.panel-body
						!= problem.resource

			#side
				.panel.panel-default
					.panel-body.text-center
						a.btn.btn-primary(href = "/problems/submit?pid=#{problem.id}") Submit
