extends base

block content
	.row
		.col-md-10.col-md-offset-1
		form.form-horizontal(method='post')
			h2 Are You Sure to Delete the Problem Named #{problem.title} ?
			button.btn.btn-danger(type='submit') Yes
			a.btn.btn-info(href="/admin/problems/"+problem.id+'/show', style="margin-left: 8px;") No