extends base

block content
	if message != ''
		.alert.alert-notice
			a.close(data-dismiss="alert", href="javascript:void(0)") x
			| #{message}
	div.row
		div.col-md-3.col-md-push-9
			div#side
		div.col-md-9.col-md-pull-3
			div#main
				div.panel.panel-primary.panel-problems
					div.panel-heading(style = "min-height: 65px;")
						h1.panel-title(style = "margin-top: 10px;") Problems
						span.pull-right
							a.btn.btn-info(style = "margin-top: -40px;", href="/admin/problems/create") Create
					div.list-group
						each problem in problems
							- var link = '/admin/problems/'+problem.id+'/'
							a.list-group-item(href=link+'show')
								div.pull-right
								h4.list-group-item-heading(style = "margin: 5px 0 4px; line-height: 30px;") #{problem.title}
