extends base

block content
	.row
		.col-md-10.col-md-offset-1
			- var action = ''
			- var pageHeader = 'Create Problem'
			if (!problem.isNew)
				- pageHeader = 'Edit Problem - '+problem.title

			h1 #{pageHeader}
			if (errors)
				p Something Went Wrong!!
			form.form-horizontal(action=action, method='post')
				if(!problem.isNew)
					input(type='hidden', name='_method', value='put')
				div.form-group
					label.control-label(for='bnuOjId') BNU OJ ID
					input.form-control(name='bnuOjId', type='text', value=problem.bnuOjId, placeholder='Enter BNU OJ ID')
				div.form-group
					label.control-label(for='difficulty') Difficulty
					input.form-control(name='difficulty', type='number', value=problem.difficulty, placeholder='Difficulty (0-5)')
				div.form-group
					label.control-label(for='title') Title
					input.form-control.input-xxlarge(name='title', type='text', value=problem.title)

				div.form-group
					label.control-label(for='body') Body
					textarea.form-control.input-xxlarge(name='body', rows=20, placeholder='Use Markdown syntax')=problem.body 
				div.form-group
					label.control-label(for='tags') Tags
					input.form-control(name='tags', type='text', value=problem.tags, placeholder='Enter tags, comma seperated')
				div.form-group
					label.control-label(for='resource') Resources
					textarea.form-control.input-xxlarge(name='resource', rows=20, placeholder='Use Markdown syntax')=problem.resource

				div.form-group
					button.btn.btn-primary(type='submit') Submit
					a.btn.btn-danger(href='/admin/problems', style="margin-left: 8px;") Cancel