extends base

block content
	.row
		.col-md-9
			#main
				.panel.panel-default.panel-problem
					div.panel-body(style="position: relative")
						.pull-right.small
							a(href="/admin/problems/"+problem.id+'/edit') Edit
							a(href="/admin/problems/"+problem.id+'/destroy', style="padding-left: 5px;") Delete
						h1 #{problem.title}
						p.small
							|Difficulty: #{problem.difficulty}
						br
						br
						.problem-body
							!= problem.body
		.col-md-3
			#side
				.panel.panel-default.panel-resource
					.panel-heading
						| Resources
					.panel-body
						!= problem.resource
